<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題</h1>
    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goyo") %>
    <% connection.internal_encoding = "UTF-8" %>
<% i = 1 %>
    <form action='exam.cgi' method='POST'>
      自家消費以外のゴーヤ<br><br>
      <% result_give = connection.exec("select * from crops where give_for != '自家消費';") %>
      <% data = [] %>
      <% result_give.each do |record| %>
        <% data << "ゴーヤ#{i}:長さ/#{record["length"]},重さ/#{record["weight"]},品質/#{record["quality"]},贈り先/#{record["give_for"]},日付/#{record["date"]}" %>
        <% i += 1 %>
      <% end %>
      <input type="text" name="give_for" value="<%= data.join(' ') %>">
      <input type="submit" value="表示" >
    </form>
<% i = 1 %>
    <form action='examB.cgi' method='POST'>
      品質の悪いゴーヤ<br><br>
      <% result_quality = connection.exec("select * from crops where quality = false;") %>
      <% data_q = [] %>
      <% result_quality.each do |record| %>
        <% data_q << "ゴーヤ#{i}:長さ/#{record["length"]},重さ/#{record["weight"]},品質/#{record["quality"]},贈り先/#{record["give_for"]},日付/#{record["date"]}" %>
      <% end %>
      <input type="text" name="quality" value="<%= data_q.join(' ') %>">
      <input type="submit" value="表示" >
    </form>
  </body>
</html>
